<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group5.petstroe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ArbitrationActivity"
            android:label="我的仲裁"/>
        <activity android:name=".activity.OrderActivity"
            android:label="我的订单" />
        <activity android:name=".activity.ChangePetStatusActivity"
            android:label="宠物上/下架" />
        <activity android:name=".activity.PetInfoActivity"
            android:label="宠物详情" />
        <activity android:name=".activity.CreatePetActivity"
            android:label="创建宠物" />
        <activity android:name=".activity.MyPetActivity"
            android:label="我的宠物" />
        <activity android:name=".activity.ApplyBalanceActivity"
            android:label="申请积分" />
        <activity android:name=".activity.BalanceActivity"
            android:label="我的积分" />
        <activity
            android:name=".activity.PetActivity"
            android:label="@string/title_activity_pet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.SignInActivity"
            android:label="登陆" />
        <activity android:name=".activity.SignUpActivity"
            android:label="申请开户" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>